{% extends "base.html" %}
{% block content %}
{% load static %}
<link href="{% static 'css/common_page.css' %}" rel="stylesheet">
<html>
	<head>
	</head>
	<body>
		<h1>運営者情報 / お問い合わせ</h1>
			<p>以下のいずれかからご連絡頂けますと幸いです。</p>
			<p>Webサイトについてのご意見もいただければ改善させていただきます。</p>
			<p>メールアドレスへのご連絡が一番レスポンスが早いです。</p>
			<br>

		<h2>Twitter</h2>
			<p><a href="https://twitter.com/ocd_danshi" target="_blank">猫豚｜OCD男子</a></p>
			<p>ブログやWebアプリの更新通知をつぶやいています。</p>
			<p>こちらのアカウントにダイレクトメッセージなど頂ければ幸いです。</p>
			<br>

		<h2>ブログ</h2>
			<p><a href="https://ocd-danshi.com" target="_blank">OCD男子</a></p>
			<p>「仮想通貨」「日常の記録」「備忘録」「簡単に稼げる方法」「病気について」「便利なサービスや商品」「アイディア」「プログラミング(Python、Django、UWSC)」について投稿しているブログです。</p>
			<p>こちらのブログにコメント頂ければ幸いです。</p>
			<br>

		<h2>メールアドレス</h2>
			<p>contact@ocd-danshi.com </p>
			<p>上記のブログのメールアドレスです。</p>
			<br>

	</body>
</html>
{% endblock %}