{% extends "base/base.html" %}
{% block content %}
{% load static %}
<link href="{% static 'css/common_page.css' %}" rel="stylesheet">
<html>
	<head>
	</head>
	<body>
		<h1>その他のツール</h1>
			<br>

		<h2><a href="{% url 'de-kensaku-input' %}">検索補助ツール｜で検索</a></h2>
			<p>
				キーワードを検索欄に入力して検索先のアイコンをクリックすることで、 簡単に検索先を指定して検索が可能となるWebツールです。<br>Googleでキーワード検索をかけてもその中から自分が見たいWebサイトのページを 探す手間がかかることが多かったため、自分で使う意味も含めて開発しています。<br>入力時のサポート機能（ペーストボタン、クリアボタン、クリアしてペーストボタン、Googleサジェスト表示）もあります。<br>是非お試しください。
			</p>
			<br>

		<h2><a href="{% url 'support-parts-gen-input' %}">支援パーツ作成ツール</a></h2>
			<p>
				当サイトのフッターに設置している様な、ブログなどに支援方法を案内するモーダルをボタン1つで表示できるパーツを作成するツールです。<br>現在は使用条件が難しく私が利用する為に実装していますが、将来的にはHTMLとCSSのみで誰でも実装できる形を目指しています。
			</p>
			<br>

	</body>
</html>
{% endblock %}