{% extends "base.html" %}
{% block content %}
{% load static %}
<link href="{% static 'css/common_page.css' %}" rel="stylesheet">
<html>
	<head>
	</head>
	<body>
		<h1>その他のツール</h1>
			<br>

		<h2><a href="{% url 'de-kensaku-input' %}">検索補助ツール｜で検索</a></h2>
			<p>
				キーワードを検索欄に入力して検索先のアイコンをクリックすることで、
				簡単に検索先を指定して検索が可能となるWebツールです。<br>
				Googleでキーワード検索をかけてもその中から自分が見たいWebサイトのページを
				探す手間がかかることが多かったため、自分で使う意味も含めて開発しています。<br>
				入力時のサポート機能(ペーストボタン、クリアボタン、Googleサジェスト表示)もあります。<br>
				是非お試しください。
			</p>
			<br>


	</body>
</html>
{% endblock %}