{% extends "base.html" %}
{% block content %}
{% load static %}
<link href="{% static 'css/common_page.css' %}" rel="stylesheet">
<html>
	<head>
	</head>
	<body>
		<h1>更新履歴</h1>
			<br>

		<h2>2019年10月6日</h2>
			<p>サイト公開</p>

		<h2>2020年4月20日</h2>
			<p>検索先追加<br>
			ビックカメラ.com、アイリスプラザ、サンコーレアモノショップ、ヤフオク!、メルカリ、ラクマ、GooglePlay</p>

		<h2>2020年4月22日</h2>
			<p>クリップボードの内容を貼り付けるボタン・検索キーワード入力欄のクリアボタン追加<br>
			キーワードを入力してエンターでGoogle検索できなかった不具合を修正<br>
			Googleのサジェスト機能を追加</p>

	</body>
</html>
{% endblock %}