{% load static %}
<html lang="ja">
	<head>
		<!-- head ここから -->
		{% include 'base/head.html' %}
		<!-- head ここまで -->
	</head>
	<body>
		<!-- navbar ここから -->
		{% include "base/navbar.html" %}
		<!-- navbar ここまで -->

		<!-- content ここから -->
		<!-- ナビバー以外に余白を入れるために指定 -->
		<div style="
		padding-left:10px;
		margin-left:10px;
		padding-right:10px;
		margin-right:10px;
		">
			{% block content %}
			{% endblock %}
		</div>
		<!-- content ここまで -->

		<!-- Footer ここから -->
		{% include "base/footer.html" %}
		<!-- Footer ここまで -->
	</body>
</html>