<!-- Footer blog responsive -->

{% load static %}
<link href="{% static 'css/footer.css' %}" rel="stylesheet">

<!--
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
-->

<footer class="footer">
	<div class="container">
		<div class="row">
			<!-- ヘッダー以外のリンク -->
			<div class="col-xl">
				<ul class="acount-icon">
					<li class="list-inline-item"><a href="https://ocd-danshi.com/de-kensaku-update">更新履歴</a></li>
					<li class="list-inline-item"><a href="javascript:void(0)">サイトマップ</a></li>
					<li class="list-inline-item"><a href="javascript:void(0)">プライバシーポリシー</a></li>
					<li class="list-inline-item"><a href="javascript:void(0)">免責事項</a></li>
				</ul>
			</div>

			<div class="border-hr"></div>

			<!-- 寄付先 -->
			<div class="col-xl">
				<p>以下のいずれかからご支援いただけますと幸いです。<br>
				サイト運営費・開発費・生活費として使用させていただきます。</p>
				<!--
				<ul class="payment">
					<li><a href="#"><i class="fa fa-cc-amex" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-credit-card" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-paypal" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-cc-visa" aria-hidden="true"></i></a></li>
				</ul>
				-->
			</div>

			<!--
			<div class="col-sm-3">
				<h4 class="title">About us</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin suscipit, libero a molestie consectetur, sapien elit lacinia mi.</p>
				<ul class="social-icon">
					<a href="#" class="social"><i class="fa fa-facebook" aria-hidden="true"></i></a>
					<a href="#" class="social"><i class="fa fa-twitter" aria-hidden="true"></i></a>
					<a href="#" class="social"><i class="fa fa-instagram" aria-hidden="true"></i></a>
					<a href="#" class="social"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
					<a href="#" class="social"><i class="fa fa-google" aria-hidden="true"></i></a>
					<a href="#" class="social"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
				</ul>
			</div>
			-->
			<!--
			<div class="col-sm-3">
				<h4 class="title">Category</h4>
				<div class="category">
					<a href="#">men</a>
					<a href="#">women</a>
					<a href="#">boy</a>
					<a href="#">girl</a>
					<a href="#">Car</a>
					<a href="#">teshart</a>
					<a href="#">top</a>
					<a href="#">glass</a>
					<a href="#">baby dress</a>
				</div>
			</div>
			-->
		</div>
		<div class="border-hr"></div>
		<div class="text-center">
			<a style="color: #fff;">Copyright © 豚猫ツール 2019</a>
		</div>
	</div>
</footer>