{% load static %}

<div class="support-parts">
	<!-- モーダルに紐づくボタン 6gram -->
	<button type="button" class="btn btn-deeporange600_rsd" data-toggle="modal" data-target="#rgram" title="6gram">
		<span class="icon-text-color">
			<span class="d-flex align-items-center">
				<span class="kihuicon-rgram fb-2x"></span>
			</span>
		</span>
	</button>
	<!-- モーダル本体 6gram -->
	<div class="modal fade" id="rgram" tabindex="-1" role="dialog" aria-labelledby="rgram_label1" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="rgram_label2">6gramで支援する</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					<p align="center">
						<img src="/static/img/aid/6gram_qr.png" class="figure-img img-fluid rounded shadow-sm">
					</p>
					<p>
						上記のQRコードからアカウントを追加していただき、ご支援をお願い致します！
					</p>
					<p>詳しいご支援方法は
						<a href="https://support.6gr.am/hc/ja/articles/900006324483--もらう-おくる-とは-" target="_blank"><br><u>「もらう/おくる」とは？</u><br></a>
						をご参照ください！
					</p>
				</div>
			</div>
		</div>
	</div>
	<!-- モーダルに紐づくボタン Kyash -->
	<button type="button" class="btn btn-blue600_rsd" data-toggle="modal" data-target="#Kyash" title="Kyash">
		<span class="icon-text-color">
			<span class="d-flex align-items-center">
				<span class="kihuicon-Kyash fb-2x"></span>
			</span>
		</span>
	</button>
	<!-- モーダル本体 Kyash -->
	<div class="modal fade" id="Kyash" tabindex="-1" role="dialog" aria-labelledby="Kyash_label1" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="Kyash_label2">Kyashで支援する</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					<p>
						ID：<input id="kyashid" type="text" size="10" value="butaneko" readonly>
						<button type="button" onclick="alert('コピーしました！');" class="cbjs_btn" data-clipboard-target="#kyashid">コピーする</button>
					</p>
					<p align="center">
						<img src="/static/img/aid/Kyash_qr.png" class="figure-img img-fluid rounded shadow-sm">
					</p>
					<p>
						上記のIDもしくはQRコードで検索して私のアカウントを追加していただき、ご支援をお願い致します！
					</p>
					<p>
						アカウントを追加して頂いた場合の詳しいご支援方法は
						<a href="https://support.kyash.co/hc/ja/articles/900002413646-%E9%80%81%E9%87%91%E6%96%B9%E6%B3%95" target="_blank"><br><u>送金方法</u><br></a>
						をご参照ください。
					</p>
					<p>
						アカウントを追加せずに送金リンクをご作成いただく場合は
						<a href="https://blog.dev-neko.com/contact" target="_blank"><br><u>ブログのお問い合わせフォーム</u><br></a>
						よりご連絡頂き、ご支援をお願い致します！
					</p>
					<p>
						アカウントを追加せずに送金リンクをご作成いただく場合の詳しいご支援方法は
						<a href="https://support.kyash.co/hc/ja/articles/360026167311-%E9%80%81%E9%87%91%E3%83%AA%E3%83%B3%E3%82%AF%E3%81%AE%E4%BD%9C%E6%88%90%E6%96%B9%E6%B3%95" target="_blank"><br><u>送金リンクの作成方法</u><br></a>
						をご参照ください。
					</p>
				</div>
			</div>
		</div>
	</div>
	<!-- モーダルに紐づくボタン Amazonギフト券 -->
	<button type="button" class="btn btn-yellow700_rsd" data-toggle="modal" data-target="#Amazon_gift" title="Amazonギフト券">
		<span class="icon-text-color">
			<span class="d-flex align-items-center">
				<span class="kihuicon-Amazon_gift fb-2x"></span>
			</span>
		</span>
	</button>
	<!-- モーダル本体 Amazonギフト券 -->
	<div class="modal fade" id="Amazon_gift" tabindex="-1" role="dialog" aria-labelledby="Amazon_gift_label1" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="Amazon_gift_label2">Amazonギフト券で支援する</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					<p>
						<a href="https://www.amazon.jp/hz/wishlist/ls/3A0I4YTMXPQGZ/" target="_blank"><u>豚猫の欲しいものリスト Amazonギフト券</u></a>
						からご支援をお願い致します！
					</p>
					<p>
						「Amazonギフト券(Eメールタイプ)」は場合によってはアカウントが停止される可能性が高いため、お手数ですが、500円単位で購入可能な「Amazonギフト券 商品券タイプ」を組み合わせて頂くか、商品詳細ページから任意の金額をご入力頂き、カートに追加して下さい。
					</p>
					<p align="center">
						<img src="/static/img/aid/Amazon_gift_price.png" class="figure-img img-fluid rounded shadow">
					</p>
					<p>
						欲しい物リストページでは上記の様に「￥5000」と表示されていますが、カートに入れると500円分となります。
					</p>
					<p align="center">
						<img src="/static/img/aid/amazon_send_to.png" class="figure-img img-fluid rounded shadow">
					</p>
					<p>
						「お届け先住所」は上記の「豚猫」を選択してください。
					</p>
					<p>
						詳しいご支援方法は
						<a href="https://www.amazon.co.jp/gp/help/customer/display.html?nodeId=GQ8WY4ELS2M747WL" target="_blank"><br><u>ほしい物リストから商品を購入する</u><br></a>
						をご参照ください。
					</p>
				</div>
			</div>
		</div>
	</div>
	<!-- モーダルに紐づくボタン Amazonほしい物リスト -->
	<button type="button" class="btn btn-teal400_rsd" data-toggle="modal" data-target="#Amazon_wish" title="Amazonほしい物リスト">
		<span class="icon-text-color">
			<span class="d-flex align-items-center">
				<span class="kihuicon-Amazon_wish fb-2x"></span>
			</span>
		</span>
	</button>
	<!-- モーダル本体 Amazonほしい物リスト -->
	<div class="modal fade" id="Amazon_wish" tabindex="-1" role="dialog" aria-labelledby="Amazon_wish_label1" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="Amazon_wish_label2">Amazonほしい物リストで支援する</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					<p>
						<a href="https://www.amazon.jp/hz/wishlist/ls/3PPAPB0SPLNTS/" target="_blank"><u>豚猫の欲しいものリスト</u></a>
						からご支援をお願い致します！
					</p>
					<p>
						どちらの商品をいただけてもとてもうれしいです！<br>
						頂いたものはブログでレビュー記事にして紹介させていただきます！
					</p>
					<p align="center">
						<img src="/static/img/aid/amazon_send_to.png" class="figure-img img-fluid rounded shadow">
					</p>
					<p>
						「お届け先住所」は上記の「豚猫」を選択してください。
					</p>
					<p>
						詳しいご支援方法は
						<a href="https://www.amazon.co.jp/gp/help/customer/display.html?nodeId=GQ8WY4ELS2M747WL" target="_blank"><br><u>ほしい物リストから商品を購入する</u><br></a>
						をご参照ください。
					</p>
				</div>
			</div>
		</div>
	</div>
	<!-- モーダルに紐づくボタン PayPay -->
	<button type="button" class="btn btn-red600_rsd" data-toggle="modal" data-target="#PayPay" title="PayPay">
		<span class="icon-text-color">
			<span class="d-flex align-items-center">
				<span class="kihuicon-PayPay fb-2x"></span>
			</span>
		</span>
	</button>
	<!-- モーダル本体 PayPay -->
	<div class="modal fade" id="PayPay" tabindex="-1" role="dialog" aria-labelledby="PayPay_label1" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="PayPay_label2">PayPayで支援する</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					<p>
						ID：<input id="PayPayid" type="text" size="10" value="未登録" readonly>
						<button type="button" onclick="alert('コピーしました！');" class="cbjs_btn" data-clipboard-target="#PayPayid">コピーする</button>
					</p>
					<p align="center">
						<img src="/static/img/aid/paypay_qr_01.png" class="figure-img img-fluid rounded shadow-sm">
					</p>
					<p>
						上記のIDもしくはQRコードで検索して追加していただき、ご支援をお願い致します！
					</p>
					<p>
						受け取りリンクをご作成いただく場合は
						<a href="https://blog.dev-neko.com/contact" target="_blank"><br><u>ブログのお問い合わせフォーム</u><br></a>
						よりご連絡頂き、ご支援をお願い致します！
					</p>
					<p>詳しいご支援方法は
						<a href="https://paypay.ne.jp/guide/send/" target="_blank"><br><u>PayPay残高を送る</u><br></a>
						をご参照ください。
					</p>
				</div>
			</div>
		</div>
	</div>
	<!-- モーダルに紐づくボタン PayPal -->
	<button type="button" class="btn btn-blue900_rsd" data-toggle="modal" data-target="#paypal" title="PayPal">
		<span class="icon-text-color">
			<span class="d-flex align-items-center">
				<span class="kihuicon-paypal fb-2x"></span>
			</span>
		</span>
	</button>
	<!-- モーダル本体 PayPal -->
	<div class="modal fade" id="paypal" tabindex="-1" role="dialog" aria-labelledby="paypal_label1" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="paypal_label2">PayPalで支援する</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					<p>
						PCやアプリから以下の送金先のメールアドレスと任意の送金金額をご入力いただき、ご支援をお願い致します！
					</p>
					<p>
						safety_sub_address-devneko＃yahoo.co.jp<br>
						お手数ですが、＃を@に置き換えてください。
					</p>
					<p>詳しいご支援方法は
						<a href="https://www.paypal.com/jp/webapps/mpp/support/send-money" target="_blank"><br><u>個人間での送金方法(個人)→友達や家族への送金方法</u><br></a>
						をご参照ください！
					</p>
				</div>
			</div>
		</div>
	</div>
	<!-- モーダルに紐づくボタン 楽天ペイ -->
	<button type="button" class="btn btn-pink300_rsd" data-toggle="modal" data-target="#rakutenpay" title="楽天ペイ">
		<span class="icon-text-color">
			<span class="d-flex align-items-center">
				<span class="kihuicon-rakutenpay fb-2x"></span>
			</span>
		</span>
	</button>
	<!-- モーダル本体 楽天ペイ -->
	<div class="modal fade" id="rakutenpay" tabindex="-1" role="dialog" aria-labelledby="rakutenpay_label1" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="rakutenpay_label2">楽天ペイで支援する</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					<p>
						アプリから任意の送金金額を指定してご作成いただいたリンクを
						<a href="https://blog.dev-neko.com/contact" target="_blank"><br><u>ブログのお問い合わせフォーム</u><br></a>
						よりご連絡頂き、ご支援をお願い致します！
					</p>
					<p>詳しいご支援方法は
						<a href="https://pay.rakuten.co.jp/guide/send_receive/?l-id=guide_send_receive#content-send-without-addressbook" target="_blank"><br><u>楽天キャッシュの送り方・受け取り方→連絡先に入っていない相手に送る場合</u><br></a>
						をご参照ください！
					</p>
				</div>
			</div>
		</div>
	</div>
	<!-- モーダルに紐づくボタン d払い -->
	<button type="button" class="btn btn-red600_rsd" data-toggle="modal" data-target="#dbarai" title="d払い">
		<span class="icon-text-color">
			<span class="d-flex align-items-center">
				<span class="kihuicon-dbarai fb-2x"></span>
			</span>
		</span>
	</button>
	<!-- モーダル本体 d払い -->
	<div class="modal fade" id="dbarai" tabindex="-1" role="dialog" aria-labelledby="dbarai_label1" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="dbarai_label2">d払いで支援する</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					<p align="center">
						<img src="/static/img/aid/dbarai_qr.png" class="figure-img img-fluid rounded shadow-sm">
					</p>
					<p>
						上記の「送金受け取りQRコード」もしくは「dポイント受け取りQRコード」からご支援頂くか、ご作成いただいた「送金受け取り用リンク」を
						<a href="https://blog.dev-neko.com/contact" target="_blank"><br><u>ブログのお問い合わせフォーム</u><br></a>
						よりご連絡頂き、ご支援をお願い致します！
					</p>
					<p>詳しいご支援方法は
						<a href="https://service.smt.docomo.ne.jp/keitai_payment/guide/wallet/remit.html" target="_blank"><br><u>QRコードで送金・受け取り / 受け取り用リンクから送る</u><br></a>
						をご参照ください！
					</p>
				</div>
			</div>
		</div>
	</div>
	<!-- モーダルに紐づくボタン QUOPay -->
	<button type="button" class="btn btn-blue600_rsd" data-toggle="modal" data-target="#quopay" title="QUOPay">
		<span class="icon-text-color">
			<span class="d-flex align-items-center">
				<span class="kihuicon-quopay fb-2x"></span>
			</span>
		</span>
	</button>
	<!-- モーダル本体 QUOPay -->
	<div class="modal fade" id="quopay" tabindex="-1" role="dialog" aria-labelledby="quopay_label1" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="quopay_label2">QUOPayで支援する</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					<p>
						<a href="https://pay.quocard.jp/" target="_blank"><u>QUOカードPay オンラインストア</u><br></a>よりご発行頂いた「ギフト用バリューコード」を
						<a href="https://blog.dev-neko.com/contact" target="_blank"><br><u>ブログのお問い合わせフォーム</u><br></a>
						よりご連絡頂き、ご支援をお願い致します！
					</p>
					<p>詳しいご支援方法は
						<a href="https://www.quocard.com/payec/guide/order.html" target="_blank"><br><u>ご注文方法</u><br></a>
						をご参照ください！
					</p>
				</div>
			</div>
		</div>
	</div>
	<!-- モーダルに紐づくボタン auPAY -->
	<button type="button" class="btn btn-deeporange600_rsd" data-toggle="modal" data-target="#aupay" title="auPAY">
		<span class="icon-text-color">
			<span class="d-flex align-items-center">
				<span class="kihuicon-aupay fb-2x"></span>
			</span>
		</span>
	</button>
	<!-- モーダル本体 auPAY -->
	<div class="modal fade" id="aupay" tabindex="-1" role="dialog" aria-labelledby="aupay_label1" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="aupay_label2">auPAYで支援する</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					<p>
						私が予め作成した
						<a href="https://wallet.auone.jp/contents/sp/remittance/request.html?urlcode=%23wDwDwj0z1mkjvjVFaT3XNFMEMAMANINYNBNdYlMRNhQJbDA%3D" target="_blank"><br><u>千円分の送金リンク</u><br></a>
						からご支援頂くか、他の金額にてご支援頂ける場合は
						<a href="https://blog.dev-neko.com/contact" target="_blank"><br><u>ブログのお問い合わせフォーム</u><br></a>
						よりご連絡頂ければ、改めて送金リンクを作成いたします。
					</p>
					<p>詳しいご支援方法は
						<a href="https://www.au.com/support/faq/detail/65/a00000000065/" target="_blank"><br><u>【au PAY プリペイドカード】au PAY 残高を送金したい→ウェブでの操作方法</u></a>
						<a href="https://wallet.auone.jp/contents/sp/guide/moneytransfer.html" target="_blank"><br><u>au PAY 残高の送金・出金について→送金→アプリの場合</u><br></a>
						をご参照ください！
					</p>
				</div>
			</div>
		</div>
	</div>
	<!-- モーダルに紐づくボタン pring -->
	<button type="button" class="btn btn-brown400_rsd" data-toggle="modal" data-target="#pring" title="pring">
		<span class="icon-text-color">
			<span class="d-flex align-items-center">
				<span class="kihuicon-pring fb-2x"></span>
			</span>
		</span>
	</button>
	<!-- モーダル本体 pring -->
	<div class="modal fade" id="pring" tabindex="-1" role="dialog" aria-labelledby="pring_label1" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="pring_label2">pringで支援する</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					<p>
						ID：<input id="pringid" type="text" size="10" value="butaneko" readonly>
						<button type="button" onclick="alert('コピーしました！');" class="cbjs_btn" data-clipboard-target="#pringid">コピーする</button>
					</p>
					<p align="center">
						<img src="/static/img/aid/pring_qr_01.png" class="figure-img img-fluid rounded shadow-sm">
					</p>
					<p>
						IDで検索して追加していただくか、上記のQRコードで検索して追加していただき、ご支援をお願い致します！
					</p>
					<p>詳しいご支援方法は
						<a href="https://ocd-danshi.com/goshien" target="_blank"><u>こちら</u></a>
						をご参照ください。
					</p>
				</div>
			</div>
		</div>
	</div>
	<!-- モーダルに紐づくボタン メルペイ -->
	<button type="button" class="btn btn-red600_rsd" data-toggle="modal" data-target="#merpay" title="メルペイ">
		<span class="icon-text-color">
			<span class="d-flex align-items-center">
				<span class="kihuicon-merpay fb-2x"></span>
			</span>
		</span>
	</button>
	<!-- モーダル本体 メルペイ -->
	<div class="modal fade" id="merpay" tabindex="-1" role="dialog" aria-labelledby="merpay_label1" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="merpay_label2">メルペイで支援する</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					<p>
						アプリ内で任意の送金金額を指定してご発行頂いた「受け取りリンク」を
						<a href="https://blog.dev-neko.com/contact" target="_blank"><br><u>ブログのお問い合わせフォーム</u><br></a>
						よりご連絡頂き、ご支援をお願い致します！
					</p>
					<p>詳しいご支援方法は
						<a href="https://www.mercari.com/jp/help_center/article/994/" target="_blank"><br><u>メルペイ残高やポイントをおくるには？</u><br></a>
						をご参照ください！
					</p>
				</div>
			</div>
		</div>
	</div>
</div>