{% load static %}

<div class="support-parts">
	<!-- モーダルに紐づくボタン Kyash -->
	<button type="button" class="btn btn-blue700_rsd" data-toggle="modal" data-target="#Kyash" title="Kyash">
		<span class="icon-text-color">
			<span class="d-flex align-items-center">
				<span class="kihuicon-Kyash fb-2x"></span>
			</span>
		</span>
	</button>
	<!-- モーダル本体 Kyash -->
	<div class="modal fade" id="Kyash" tabindex="-1" role="dialog" aria-labelledby="Kyash_label1" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="Kyash_label2">Kyashで支援する</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					<p>
						ID：<input id="kyashid" type="text" size="10" value="butaneko" readonly>
						<button type="button" onclick="alert('コピーしました！');" class="cbjs_btn" data-clipboard-target="#kyashid">コピーする</button>
					</p>
					<p align="center">
						<img src="{% static 'img/aid/Kyash_qr.png' %}" class="figure-img img-fluid rounded shadow-sm">
					</p>
					<p>
						IDで検索して追加していただくか、上記のQRコードで検索して追加していただき、ご支援をお願い致します！
					</p>
					<p>
						詳しいご支援方法は
						<a href="https://ocd-danshi.com/goshien" target="_blank"><u>こちら</u></a>
						をご参照ください。
					</p>
				</div>
			</div>
		</div>
	</div>
	<!-- モーダルに紐づくボタン pring -->
	<button type="button" class="btn btn-deeporange500_rsd" data-toggle="modal" data-target="#pring" title="pring">
		<span class="icon-text-color">
			<span class="d-flex align-items-center">
				<span class="kihuicon-pring fb-2x"></span>
			</span>
		</span>
	</button>
	<!-- モーダル本体 pring -->
	<div class="modal fade" id="pring" tabindex="-1" role="dialog" aria-labelledby="pring_label1" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="pring_label2">pringで支援する</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					<p>
						ID：<input id="pringid" type="text" size="10" value="butaneko" readonly>
						<button type="button" onclick="alert('コピーしました！');" class="cbjs_btn" data-clipboard-target="#pringid">コピーする</button>
					</p>
					<p align="center">
						<img src="{% static 'img/aid/pring_qr.png' %}" class="figure-img img-fluid rounded shadow-sm">
					</p>
					<p>
						IDで検索して追加していただくか、上記のQRコードで検索して追加していただき、ご支援をお願い致します！
					</p>
					<p>詳しいご支援方法は
						<a href="https://ocd-danshi.com/goshien" target="_blank"><u>こちら</u></a>
						をご参照ください。
					</p>
				</div>
			</div>
		</div>
	</div>
	<!-- モーダルに紐づくボタン Amazonギフト券 -->
	<button type="button" class="btn btn-yellow700_rsd" data-toggle="modal" data-target="#Amazon_gift" title="Amazonギフト券">
		<span class="icon-text-color">
			<span class="d-flex align-items-center">
				<span class="kihuicon-Amazon_gift fb-2x"></span>
			</span>
		</span>
	</button>
	<!-- モーダル本体 Amazonギフト券 -->
	<div class="modal fade" id="Amazon_gift" tabindex="-1" role="dialog" aria-labelledby="Amazon_gift_label1" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="Amazon_gift_label2">Amazonギフト券で支援する</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					<p>
						<a href="https://www.amazon.jp/hz/wishlist/ls/3A0I4YTMXPQGZ/" target="_blank"><u>豚猫の欲しいものリスト Amazonギフト券</u></a>
						からご支援をお願い致します！
					</p>
					<p>
						「Amazonギフト券(Eメールタイプ)」は場合によってはアカウントが停止される可能性が高いため、お手数ですが、500円単位で購入可能な「Amazonギフト券 商品券タイプ」を組み合わせて頂きたいです。
					</p>
					<p align="center">
						<img src="{% static 'img/aid/Amazon_gift_price.png' %}" class="figure-img img-fluid rounded shadow-sm">
					</p>
					<p>
						欲しい物リストページでは上記の様に「￥5000」と表示されていますが、カートに入れると500円分となります。<br>念の為ご確認ください。
					</p>
					<p>
						詳しいご支援方法は
						<a href="https://ocd-danshi.com/goshien" target="_blank"><u>こちら</u></a>
						をご参照ください。
					</p>
				</div>
			</div>
		</div>
	</div>
	<!-- モーダルに紐づくボタン Amazonほしい物リスト -->
	<button type="button" class="btn btn-teal400_rsd" data-toggle="modal" data-target="#Amazon_wish" title="Amazonほしい物リスト">
		<span class="icon-text-color">
			<span class="d-flex align-items-center">
				<span class="kihuicon-Amazon_wish fb-2x"></span>
			</span>
		</span>
	</button>
	<!-- モーダル本体 Amazonほしい物リスト -->
	<div class="modal fade" id="Amazon_wish" tabindex="-1" role="dialog" aria-labelledby="Amazon_wish_label1" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="Amazon_wish_label2">Amazonほしい物リストで支援する</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					<p>
						<a href="https://www.amazon.jp/hz/wishlist/ls/3PPAPB0SPLNTS/" target="_blank"><u>豚猫のほしいものリスト</u></a>
						からご支援をお願い致します！
					</p>
					<p>
						どちらの商品をいただけてもとてもうれしいです！<br>頂いたものはブログでレビュー記事にして紹介させていただきます！
					</p>
					<p>
						詳しいご支援方法は
						<a href="https://ocd-danshi.com/goshien" target="_blank"><u>こちら</u></a>
						をご参照ください。
					</p>
				</div>
			</div>
		</div>
	</div>
</div>