@font-face {
	font-family: 'kihuicon';
	src:  url('fonts/kihuicon.eot?s4b5yw');
	src:  url('fonts/kihuicon.eot?s4b5yw#iefix') format('embedded-opentype'),
		url('fonts/kihuicon.ttf?s4b5yw') format('truetype'),
		url('fonts/kihuicon.woff?s4b5yw') format('woff'),
		url('fonts/kihuicon.svg?s4b5yw#kihuicon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="kihuicon-"], [class*=" kihuicon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'kihuicon' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.kihuicon-Amazon_gift:before {
	content: "\e900";
}
.kihuicon-Amazon_wish:before {
	content: "\e901";
}
.kihuicon-Kyash:before {
	content: "\e902";
}
.kihuicon-PayPay:before {
	content: "\e903";
}
.kihuicon-pring:before {
	content: "\e909";
}
