<html>
	<head>
	</head>
	<body>
	<!--
	<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
	{% csrf_token %}
	-->

	<!--
	元の検索ページの総数/解析したページ
	元の検索ページのURL
	-->

		<p>
			{% for fo_auc_data in auc_data %}
				<a href="{{ fo_auc_data.オクURL }}" target="_blank">
					<img alt="{{ fo_auc_data.オク名 }}" src="{{ fo_auc_data.画像URL }}" loading="lazy" height="150"/></br>
				</a>
				<a href="{{ fo_auc_data.オクURL }}" target = "_blank">{{ fo_auc_data.オク名 }}</a></br>
				出品者ID：{{ fo_auc_data.出品者ID }}<br>
				出品者の評価：{{ fo_auc_data.評価レート }}<br>
				現在価格：{{ fo_auc_data.現在価格 }}円<br>
				即決価格：{{ fo_auc_data.即決価格 }}円<br>
				入札数：{{ fo_auc_data.入札数 }}<br>
				残り時間：{{ fo_auc_data.残り時間 }}<br>
				自動延長：{{ fo_auc_data.自動延長 }}<br><br>
			{% endfor %}
		</p>


	</body>
</html>
