{% load static %}

<html>
	 <head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<style type="text/css">
		</style>
	</head>
	<body>
		<form method="post">
			{% csrf_token %}
			<p><textarea name="src_raw_url" rows="2" required>bbb</textarea></p>
			<button type="submit" name="db_action_btn" value='save' onclick="sametab('')">保存</button>
			<p><textarea name="aaa" rows="1">{{ dt_read_db_data.read_db_data.bookname }}</textarea></p>
			<p><textarea name="aaa" rows="1">{{ dt_read_db_data.read_db_data.summary }}</textarea></p>
			<p><textarea name="aaa" rows="1">{{ dt_read_db_data.read_db_data.rating }}</textarea></p>
			<p>
				{% if dt_read_db_data.read_db_data.radio == "ON" %}
					<label><input type="radio" name="exclude_id" value="OFF"> OFF</label>
					<label><input type="radio" name="exclude_id" value="ON" checked> ON</label><br>
				{% else %}
					<label><input type="radio" name="exclude_id" value="OFF" checked> OFF</label>
					<label><input type="radio" name="exclude_id" value="ON"> ON</label><br>
				{% endif %}
			</p>
			<p>
				<select name="select_db_data">
					{% for item in dt_exists_db_data.exists_db_data %}
						<option value={{ item.id }}>{{ item.bookname }}</option>
					{% endfor %}
				</select>
			</p>
			<button type="submit" name="db_action_btn" value='read' onclick="sametab('')">読込</button>
			<button type="submit" name="db_action_btn" value='delete' onclick="sametab('')">削除</button>
			<button type="submit" name="db_action_btn" value='all_delete' onclick="sametab('')">全て削除</button>
			<button type="submit" onclick="newtab('output')">検索</button>
		</form>
	</body>
	<script>
	function sametab(u){
		var f = document.querySelector("form");
		var a = f.setAttribute("action", u);
		var a = f.setAttribute("target", "");
		document.querySelector("form").submit();
	}
	function newtab(u){
		var f = document.querySelector("form");
		var a = f.setAttribute("action", u);
		var a = f.setAttribute("target", "_blank");
		document.querySelector("form").submit();
	}
	</script>
</html>
