<html>
	 <head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

		<style type="text/css">
				ul {
					list-style: none;
				}
				textarea {
					width:100%;
				}
			</style>

	 </head>
	 <body>

	<form method="post" action="output" target="_blank">
		<!--
		<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
		-->
		{% csrf_token %}
		<p><input type="search" name="va" width=30% value="bbb" placeholder="すべて含む"></p>
		<p><input type="search" name="vo" placeholder="少なくとも一つを含む"></p>
		<p><input type="search" name="ve" placeholder="含めない"></p>
		<!-- 検索条件 -->
		<p>
			<label><input type="radio" name="radio_ngram" value="0" checked="checked"> タイトル</label>
			<label><input type="radio" name="radio_ngram" value="2"> タイトルと説明文</label>
			<label><input type="radio" name="radio_ngram" value="1"> あいまい検索</label>
		</p>
		<!-- その他の条件 -->
		<p>
			<label><input type="checkbox" name="check_condition" value="&pstagefree=1" /> 送料無料</label>
			<label><input type="checkbox" name="check_condition" value="&new=1" /> 新着</label>
			<label><input type="checkbox" name="check_condition" value="&auchours=1" /> 1時間以内に終了</label>
			<label><input type="checkbox" name="check_condition" value="&max_sprice=1" /> 1円開始</label>
			<label><input type="checkbox" name="check_condition" value="&privacy_delivery=1" /> 匿名配送</label>
			<label><input type="checkbox" name="check_condition" value="&offer=1" /> 値下げ交渉</label>
			<label><input type="checkbox" name="check_condition" value="&shipping=113114115116" /> コンビニ受け取り</label>
			<label><input type="checkbox" name="check_condition" value="&thumb=1" /> 画像あり</label>
			<label><input type="checkbox" name="check_condition" value="&point=1" /> Tポイント</label>
		</p>
		<!-- 出品者区分 -->
		<p>
			<label><input type="radio" name="radio_abatch" value="0" checked="checked"> すべて</label>
			<label><input type="radio" name="radio_abatch" value="1"> ストア</label>
			<label><input type="radio" name="radio_abatch" value="2"> 個人</label>
		</p>
		<!-- 出品形式 -->
		<p>
			<label><input type="radio" name="radio_fixed" value="3" checked="checked"> すべて</label>
			<label><input type="radio" name="radio_fixed" value="2"> オークション</label>
			<label><input type="radio" name="radio_fixed" value="1"> 定額</label>
		</p>
		<!-- カテゴリ プルダウンに変更 -->
		<p>
			<label><input type="radio" name="radio_auccat" value="0" checked="checked"> すべて</label><br>
			<label><input type="radio" name="radio_auccat" value="23336"> コンピュータ</label>
			<label><input type="radio" name="radio_auccat" value="23632"> 家電、AV、カメラ</label>
			<label><input type="radio" name="radio_auccat" value="22152"> 音楽</label>
			<label><input type="radio" name="radio_auccat" value="21600"> 本、雑誌</label>
			<label><input type="radio" name="radio_auccat" value="21964"> 映画、ビデオ</label>
			<label><input type="radio" name="radio_auccat" value="25464"> おもちゃ、ゲーム</label>
			<label><input type="radio" name="radio_auccat" value="24242"> ホビー、カルチャー</label>
			<label><input type="radio" name="radio_auccat" value="20000"> アンティーク、コレクション</label>
			<label><input type="radio" name="radio_auccat" value="24698"> スポーツ、レジャー</label>
			<label><input type="radio" name="radio_auccat" value="26318"> 自動車、オートバイ</label>
			<label><input type="radio" name="radio_auccat" value="23000"> ファッション</label>
			<label><input type="radio" name="radio_auccat" value="23140"> アクセサリー、時計</label>
			<label><input type="radio" name="radio_auccat" value="42177"> ビューティー、ヘルスケア</label>
			<label><input type="radio" name="radio_auccat" value="23976"> 食品、飲料</label>
			<label><input type="radio" name="radio_auccat" value="24198"> 住まい、インテリア</label>
			<label><input type="radio" name="radio_auccat" value="2084055844"> ペット、生き物</label>
			<label><input type="radio" name="radio_auccat" value="22896"> 事務、店舗用品</label>
			<label><input type="radio" name="radio_auccat" value="26086"> 花、園芸</label>
			<label><input type="radio" name="radio_auccat" value="2084043920"> チケット、金券、宿泊予約</label>
			<label><input type="radio" name="radio_auccat" value="24202"> ベビー用品</label>
			<label><input type="radio" name="radio_auccat" value="2084032594"> タレントグッズ</label>
			<label><input type="radio" name="radio_auccat" value="20060"> コミック、アニメグッズ</label>
			<label><input type="radio" name="radio_auccat" value="2084060731"> 不動産</label>
			<label><input type="radio" name="radio_auccat" value="2084217893"> チャリティー</label>
			<label><input type="radio" name="radio_auccat" value="26084"> その他</label>
		</p>
		<!-- 現在価格 -->
		<p>
			<span>現在価格</span>
			<input type="text" name="aucminprice" value="">
			<span>円～</span>
			<input type="text" name="aucmaxprice" value="">
			<span>円</span>
		</p>
		<!-- 即決価格 -->
		<p>
			<span>即決価格</span>
			<input type="text" name="aucmin_bidorbuy_price" value="">
			<span>円～</span>
			<input type="text" name="aucmax_bidorbuy_price" value="">
			<span>円</span>
		</p>
		<!-- 商品の状態 -->
		<p>
			<input type="checkbox" name="check_istatus" value="1" id="input1"/><label for="input1"> 未使用</label>
			<ul class="js-hierarchy-checkbox">
				<li>
					<input type="checkbox" name="check_istatus" value="2" id="input2"/><label for="input2"> 中古全て</label>
					<ul>
						<li>
							<input type="checkbox" name="check_istatus" value="3" id="input3"/><label for="input3"> 未使用に近い</label>
						</li>
						<li>
							<input type="checkbox" name="check_istatus" value="4" id="input4"/><label for="input4"> 目立った傷や汚れなし</label>
						</li>
						<li>
							<input type="checkbox" name="check_istatus" value="5" id="input5"/><label for="input5"> やや傷や汚れあり</label>
						</li>
						<li>
							<input type="checkbox" name="check_istatus" value="6" id="input6"/><label for="input6"> 傷や汚れあり</label>
						</li>
						<li>
							<input type="checkbox" name="check_istatus" value="7" id="input7"/><label for="input7"> 全体的に状態が悪い</label>
						</li>
					</ul>
				</li>
			</ul>
		</p>
		<!-- 出品地域 -->
		<p>
			<label><input type="checkbox" name="check_loc_cd" value="0" checked="checked"> すべて</label><br>
			<label><input type="checkbox" name="check_loc_cd" value="1"> 北海道</label>
			<label><input type="checkbox" name="check_loc_cd" value="2"> 青森県</label>
			<label><input type="checkbox" name="check_loc_cd" value="3"> 岩手県</label>
			<label><input type="checkbox" name="check_loc_cd" value="4"> 宮城県</label>
			<label><input type="checkbox" name="check_loc_cd" value="5"> 秋田県</label>
			<label><input type="checkbox" name="check_loc_cd" value="6"> 山形県</label>
			<label><input type="checkbox" name="check_loc_cd" value="7"> 福島県</label>
			<label><input type="checkbox" name="check_loc_cd" value="8"> 茨城県</label>
			<label><input type="checkbox" name="check_loc_cd" value="9"> 栃木県</label>
			<label><input type="checkbox" name="check_loc_cd" value="10"> 群馬県</label>
			<label><input type="checkbox" name="check_loc_cd" value="11"> 埼玉県</label>
			<label><input type="checkbox" name="check_loc_cd" value="12"> 千葉県</label>
			<label><input type="checkbox" name="check_loc_cd" value="13"> 東京都</label>
			<label><input type="checkbox" name="check_loc_cd" value="14"> 神奈川県</label>
			<label><input type="checkbox" name="check_loc_cd" value="15"> 山梨県</label>
			<label><input type="checkbox" name="check_loc_cd" value="16"> 長野県</label>
			<label><input type="checkbox" name="check_loc_cd" value="17"> 新潟県</label>
			<label><input type="checkbox" name="check_loc_cd" value="18"> 富山県</label>
			<label><input type="checkbox" name="check_loc_cd" value="19"> 石川県</label>
			<label><input type="checkbox" name="check_loc_cd" value="20"> 福井県</label>
			<label><input type="checkbox" name="check_loc_cd" value="21"> 岐阜県</label>
			<label><input type="checkbox" name="check_loc_cd" value="22"> 静岡県</label>
			<label><input type="checkbox" name="check_loc_cd" value="23"> 愛知県</label>
			<label><input type="checkbox" name="check_loc_cd" value="24"> 三重県</label>
			<label><input type="checkbox" name="check_loc_cd" value="25"> 滋賀県</label>
			<label><input type="checkbox" name="check_loc_cd" value="26"> 京都府</label>
			<label><input type="checkbox" name="check_loc_cd" value="27"> 大阪府</label>
			<label><input type="checkbox" name="check_loc_cd" value="28"> 兵庫県</label>
			<label><input type="checkbox" name="check_loc_cd" value="29"> 奈良県</label>
			<label><input type="checkbox" name="check_loc_cd" value="30"> 和歌山県</label>
			<label><input type="checkbox" name="check_loc_cd" value="31"> 鳥取県</label>
			<label><input type="checkbox" name="check_loc_cd" value="32"> 島根県</label>
			<label><input type="checkbox" name="check_loc_cd" value="33"> 岡山県</label>
			<label><input type="checkbox" name="check_loc_cd" value="34"> 広島県</label>
			<label><input type="checkbox" name="check_loc_cd" value="35"> 山口県</label>
			<label><input type="checkbox" name="check_loc_cd" value="36"> 徳島県</label>
			<label><input type="checkbox" name="check_loc_cd" value="37"> 香川県</label>
			<label><input type="checkbox" name="check_loc_cd" value="38"> 愛媛県</label>
			<label><input type="checkbox" name="check_loc_cd" value="39"> 高知県</label>
			<label><input type="checkbox" name="check_loc_cd" value="40"> 福岡県</label>
			<label><input type="checkbox" name="check_loc_cd" value="41"> 佐賀県</label>
			<label><input type="checkbox" name="check_loc_cd" value="42"> 長崎県</label>
			<label><input type="checkbox" name="check_loc_cd" value="43"> 熊本県</label>
			<label><input type="checkbox" name="check_loc_cd" value="44"> 大分県</label>
			<label><input type="checkbox" name="check_loc_cd" value="45"> 宮崎県</label>
			<label><input type="checkbox" name="check_loc_cd" value="46"> 鹿児島県</label>
			<label><input type="checkbox" name="check_loc_cd" value="47"> 沖縄県</label>
			<label><input type="checkbox" name="check_loc_cd" value="48"> 海外</label>
		</p>
		<!-- 解析するページ -->
		<p>
			<span>解析するページ</span><br>
			<select name="analysis_pages">
				<option value="1" selected>1ページ目</option>
				<option value="2">2ページ目</option>
				<option value="3">3ページ目</option>
				<option value="4">4ページ目</option>
				<option value="5">5ページ目</option>
			</select>
		</p>
		<!-- 表示件数 -->
		<p>
			<label><input type="radio" name="radio_dispn" value="20" checked="checked"> 20件ごと</label>
			<label><input type="radio" name="radio_dispn" value="50"> 50件ごと</label>
			<label><input type="radio" name="radio_dispn" value="100"> 100件ごと</label>
		</p>
		<!-- 自動延長無しフィルタ -->
		<p>
			<span>自動延長無しフィルタ</span><br>
			<label><input type="radio" name="radio_auto_ext" value="OFF" checked="checked"> OFF</label>
			<label><input type="radio" name="radio_auto_ext" value="ON"> ON</label>
		</p>
		<!-- 評価レートフィルタ -->
		<p>
			<span>評価レートフィルタ</span><br>
			<label><input type="radio" name="radio_rate" value="OFF" checked="checked"> OFF</label>
			<label><input type="radio" name="radio_rate" value="ON"> ON</label><br>
			<input type="text" name="radio_rate" id="inputrate" disabled="disabled" size="1" value="99.5">
			<span> %以下は表示しない</span>
		</p>
		<!-- 出品者フィルタ -->
		<p>
			<span>出品者IDでの除外フィルタ</span><br>
			<label><input type="radio" name="exclude_id" value="OFF" checked="checked"> OFF</label>
			<label><input type="radio" name="exclude_id" value="ON"> ON</label><br>
			<textarea name="exclude_id" id="input_exclude_id" disabled="disabled" rows="2"></textarea>
		</p>
















		<p><input type="submit"></p>
	</form>



	</body>
	<script>
		(function () {
			/*
			仕様
			1.親をチェックした場合
			=>すべての子をチェックする
			 2.親のチェックを外した場合
			=>すべての子のチェックも外す
			 3.親のチェックをした状態で、子のチェックをひとつ外した場合
			=>対応する親と、自身のチェックが外れる
			 4.子をすべてチェックした場合
			=>対応する親がチェックされる
			*/
			$(function () {
				var $hierarchy_checkbox;
				$hierarchy_checkbox = $('.js-hierarchy-checkbox');
				if (!$hierarchy_checkbox.length) {
					return;
				}
				return $hierarchy_checkbox.find('input:checkbox').on('change', function (ev) {
					var $target;
					ev.preventDefault();
					$target = $(this);
					$target.nextAll().find('input:checkbox').prop('checked', this.checked);
					return $target.parents('ul').prevAll('input:checkbox').prop('checked', function () {
						console.log($(this).siblings().children().children('input:checkbox'));
						return $(this).siblings().children().children('input:checkbox').length === $(this).siblings().children().children(':checked').length;
					});
				});
			});
		}).call(this);

		// 評価レート
		$(function(){
			 $( 'input[name="radio_rate"]:radio' ).change( function() {
					var radioval = $(this).val();
					if(radioval == "ON"){
						 $('#inputrate').removeAttr('disabled');
					}else{
						 $('#inputrate').attr('disabled','disabled');
					}
			 });
		});

		// 出品者ID
		$(function(){
			 $( 'input[name="exclude_id"]:radio' ).change( function() {
					var radioval = $(this).val();
					if(radioval == "ON"){
						 $('#input_exclude_id').removeAttr('disabled');
					}else{
						 $('#input_exclude_id').attr('disabled','disabled');
					}
			 });
		});

	</script>
</html>
