{% load static %}

<html>
	 <head>
		<title>ヤフオク検索ツール</title>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
		<!-- cb-materialbtn.css ブトスラのボタンの色を変えるライブラリ -->
		<link rel="stylesheet" href="https://cdn.rawgit.com/maechabin/bootstrap-material-button-color/master/dist/cb-materialbtn.0.5.5.min.css">
		<!-- fontawasome -->
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
		<style type="text/css">
			textarea {
				width:100%;
			}
			.span {
				vertical-align: middle;
			}
		</style>
	</head>
	<body>

		<div style="padding-left:5px;margin-left:5px;padding-right:5px;margin-right:5px;">
			<h5>ヤフオク検索ツール</h5>
			<form method="post" action="output_v2" target="_blank">
				<!--
				<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
				-->
				{% csrf_token %}
				<!-- 解析するURL -->
				<p>
					<span>ヤフオクで絞り込んだURL</span>
					<button type="button" class="btn btn-dark rounded-circle p-0"
									style="width:1.3rem;height:1.3rem;"
									data-trigger="focus"
									data-placement="right"
									data-toggle="popover"
									data-html="true"
									data-content="URLには解析を行うために必要となる、表示件数(&n=)、ページ番号(&b=)、表示方法は「タイトルと画像」(&mode=2)、が含まれるようにお願い致します。">？
					</button>
					<textarea name="src_raw_url" rows="2" required>https://auctions.yahoo.co.jp/search/search?p=Python&va=Python&exflg=1&b=1&n=20&mode=2</textarea>
				</p>
				<!-- 終了する曜日を指定 -->
				<p>
					<span>終了する曜日を指定</span><br>
					<select name="select_e_wday">
						<option value="0" selected>日曜日</option>
						<option value="1">月曜日</option>
						<option value="2">火曜日</option>
						<option value="3">水曜日</option>
						<option value="4">木曜日</option>
						<option value="5">金曜日</option>
						<option value="6">土曜日</option>
					</select>
				</p>
				<!-- 終了する時間帯を指定 -->
				<p>
					<span>終了する時間帯を指定</span><br>
					<select name="select_e_time">
						<option value="0" selected>0時</option>
						<option value="1">1時</option>
						<option value="2">2時</option>
						<option value="3">3時</option>
						<option value="4">4時</option>
						<option value="5">5時</option>
						<option value="6">6時</option>
						<option value="7">7時</option>
						<option value="8">8時</option>
						<option value="9">9時</option>
						<option value="10">10時</option>
						<option value="11">11時</option>
						<option value="12">12時</option>
						<option value="13">13時</option>
						<option value="14">14時</option>
						<option value="15">15時</option>
						<option value="16">16時</option>
						<option value="17">17時</option>
						<option value="18">18時</option>
						<option value="19">19時</option>
						<option value="20">20時</option>
						<option value="21">21時</option>
						<option value="22">22時</option>
						<option value="23">23時</option>
					</select>
				</p>
				<!-- 解析するページ番号 -->
				<p>
					<span>解析するページ</span>
					<button type="button" class="btn btn-dark rounded-circle p-0"
									style="width:1.3rem;height:1.3rem;"
									data-trigger="focus"
									data-placement="right"
									data-toggle="popover"
									data-html="true"
									data-content="ヤフオクで絞り込んだ結果のページからWebアプリで解析するページを指定します。<br>">？
					</button>
					<br>
					<select name="analysis_pages">
						<option value="1" selected>1ページ目</option>
						<option value="2">2ページ目</option>"
						<option value="3">3ページ目</option>"
						<option value="4">4ページ目</option>"
						<option value="5">5ページ目</option>"
						<option value="6">6ページ目</option>"
						<option value="7">7ページ目</option>"
						<option value="8">8ページ目</option>"
						<option value="9">9ページ目</option>"
						<option value="10">10ページ目</option>"
						<option value="11">11ページ目</option>"
						<option value="12">12ページ目</option>"
						<option value="13">13ページ目</option>"
						<option value="14">14ページ目</option>"
						<option value="15">15ページ目</option>"
						<option value="16">16ページ目</option>"
						<option value="17">17ページ目</option>"
						<option value="18">18ページ目</option>"
						<option value="19">19ページ目</option>"
						<option value="20">20ページ目</option>"
						<option value="21">21ページ目</option>"
						<option value="22">22ページ目</option>"
						<option value="23">23ページ目</option>"
						<option value="24">24ページ目</option>"
						<option value="25">25ページ目</option>"
						<option value="26">26ページ目</option>"
						<option value="27">27ページ目</option>"
						<option value="28">28ページ目</option>"
						<option value="29">29ページ目</option>"
						<option value="30">30ページ目</option>"
					</select>
				</p>
				<!-- 表示件数 -->
				<!--<p>
					<label><input type="radio" name="radio_dispn" value="20" checked="checked"> 20件ごと</label>
					<label><input type="radio" name="radio_dispn" value="50"> 50件ごと</label>
					<label><input type="radio" name="radio_dispn" value="100"> 100件ごと</label>
				</p>-->
				<!-- 自動延長無しフィルタ -->
				<p>
					<span>自動延長無しフィルタ</span>
					<button type="button" class="btn btn-dark rounded-circle p-0"
									style="width:1.3rem;height:1.3rem;"
									data-trigger="focus"
									data-placement="right"
									data-toggle="popover"
									data-html="true"
									data-content="ONの状態では、自動延長が設定できない定額のオークションも非表示になるためご注意ください。<br>">？
					</button>
					<br>
					<label><input type="radio" name="radio_auto_ext" value="OFF" checked="checked"> OFF</label>
					<label><input type="radio" name="radio_auto_ext" value="ON"> ON</label>
				</p>
				<!-- 評価レートフィルタ -->
				<p>
					<span>評価レートフィルタ</span>
					<button type="button" class="btn btn-dark rounded-circle p-0"
									style="width:1.3rem;height:1.3rem;"
									data-trigger="focus"
									data-placement="right"
									data-toggle="popover"
									data-html="true"
									data-content="OFFにした状態であれば、テキストボックスに数値が入力された状態でも絞り込みは行われません。<br>">？
					</button>
					<br>
					<label><input type="radio" name="radio_rate" value="OFF" checked="checked"> OFF</label>
					<label><input type="radio" name="radio_rate" value="ON"> ON</label><br>
					<input type="text" name="radio_rate" id="inputrate" disabled="disabled" size="1" value="99.5">
					<span> %以下は表示しない</span>
				</p>
				<!-- 出品者フィルタ -->
				<p>
					<span>出品者IDでの除外フィルタ</span>
					<button type="button" class="btn btn-dark rounded-circle p-0"
									style="width:1.3rem;height:1.3rem;"
									data-trigger="focus"
									data-placement="right"
									data-toggle="popover"
									data-html="true"
									data-content="出品者IDを複数指定する場合はカンマ(,)区切りで入力してください。<br>OFFにした状態であれば、テキストボックスに入力された状態でも絞り込みは行われません。">？
					</button>
					<br>
					<label><input type="radio" name="exclude_id" value="OFF" checked="checked"> OFF</label>
					<label><input type="radio" name="exclude_id" value="ON"> ON</label><br>
					<textarea name="exclude_id" id="input_exclude_id" disabled="disabled" rows="2"></textarea>
				</p>
				<p><input type="submit"></p>
			</form>
		</div>

		<!-- jQuery、Popper.js、Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	</body>
	<script>
		//BootstrapのPopperを使用するためのJS
		(function() {
			window.addEventListener("load", function () {
				$('[data-toggle="popover"]').popover();
			});
		})();
		// 評価レート
		$(function(){
			 $( 'input[name="radio_rate"]:radio' ).change( function() {
					var radioval = $(this).val();
					if(radioval == "ON"){
						 $('#inputrate').removeAttr('disabled');
					}else{
						 $('#inputrate').attr('disabled','disabled');
					}
			 });
		});
		// 出品者ID
		$(function(){
			 $( 'input[name="exclude_id"]:radio' ).change( function() {
					var radioval = $(this).val();
					if(radioval == "ON"){
						 $('#input_exclude_id').removeAttr('disabled');
					}else{
						 $('#input_exclude_id').attr('disabled','disabled');
					}
			 });
		});
	</script>
</html>
