@font-face {
  font-family: 'kihuicon';
  src:
    url('fonts/kihuicon.ttf?1xqyg7') format('truetype'),
    url('fonts/kihuicon.woff?1xqyg7') format('woff'),
    url('fonts/kihuicon.svg?1xqyg7#kihuicon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="kihuicon-"], [class*=" kihuicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'kihuicon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.kihuicon-rgram:before {
  content: "\e90a";
}
.kihuicon-dbarai:before {
  content: "\e907";
}
.kihuicon-quopay:before {
  content: "\e908";
}
.kihuicon-merpay:before {
  content: "\e90b";
}
.kihuicon-aupay:before {
  content: "\e90c";
}
.kihuicon-jcoinpay:before {
  content: "\e905";
}
.kihuicon-paypal:before {
  content: "\e906";
}
.kihuicon-rakutenpay:before {
  content: "\e904";
}
.kihuicon-Amazon_gift:before {
  content: "\e900";
}
.kihuicon-Amazon_wish:before {
  content: "\e901";
}
.kihuicon-Kyash:before {
  content: "\e902";
}
.kihuicon-PayPay:before {
  content: "\e903";
}
.kihuicon-pring:before {
  content: "\e909";
}
