{% extends "base/base.html" %}
{% block content %}
{% load static %}
<link href="{% static 'css/input.css' %}" rel="stylesheet">

<html>

	<head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-155316780-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'UA-155316780-1');
		</script>
	</head>

	<body>
		<form id="search_form" method="post" action="output" target="_blank">

			<div class="form-group">
				<div class="row">
					<div class="col-12 col-sm-10 col-md-8 col-lg-7">
						<div class="search_container">
							{% csrf_token %}
							<input type="text" id="target" value="" autocomplete="on" autofocus placeholder=" EnterでGoogle検索" name="srch_str">
							<!--
							<input type="reset" value="&#xf057" class="far">
							-->
						</div>
					</div>
				</div>
			</div>

			<button type="button" class="btn btn-primary" id="js-paste" title="ペースト">
				<span class="icon-text-color">
					<span class="d-flex align-items-center">
						<span class='sespbtn-paste fb-2x'></span>
					</span>
				</span>
			</button>

			<button type="reset" class="btn btn-warning" title="クリア" onclick="clfc()">
				<span class="icon-text-color">
					<span class="d-flex align-items-center">
						<span class='sespbtn-erase fb-2x'></span>
					</span>
				</span>
			</button>

			<button type="button" class="btn btn-success" id="rstpst" title="クリアしてペースト" onclick="clear_paste_btn()">
				<span class="icon-text-color">
					<span class="d-flex align-items-center">
						<span class='sespbtn-erase_paste fb-2x'></span>
					</span>
				</span>
			</button>




			<!-- 中止ボタン -->
			<div class="btn-group">
				<!-- 「onFocus="this.blur()"」でボタンのフォーカス線を削除 -->
				<!-- 「onclick」でページをリロードさせる -->
				<input type="button" onFocus="this.blur()" class="btn btn-danger" value="リロード" onclick="window.location.reload();">
			</div>







			{% include 'help_modal/help_modal_template.html' with header='<span style="font-size:1.1rem;">サーチエンジン</span>' modal_id='search' modal_title='サンプルテキスト' include_body=False modal_body='<p>サンプルテキスト</p>' only %}
			<div class="form-row">
				{% include 'de_kensaku/image_button_template.html' with name='Google' only %}
				{% include 'de_kensaku/image_button_template.html' with name='価格.com' only %}
				{% include 'de_kensaku/image_button_template.html' with name='Yahoo!JAPAN' only %}
				{% comment ’Bingはモーダルだけでいいかも’ %}
				{% include 'de_kensaku/image_button_template.html' with name='Bing' only %}
				{% endcomment %}
				{% include 'de_kensaku/search_modal_template.html' with header='<span style="font-size:1.1rem;">サーチエンジン</span>' modal_title='サンプルテキスト' name='Bing' only %}
			</div>

			{% include 'help_modal/help_modal_template.html' with header='<span style="font-size:1.1rem;">ショッピング</span>' modal_id='shop' modal_title='サンプルテキスト' include_body=False modal_body='<p>検索欄が空欄の状態でアイコンの左側をクリックするとカートページを開きます。</p><p>同様に、右側をクリックすると購入履歴ページを開きます。</p>' only %}
			<div class="form-row">
				{% include 'de_kensaku/image_button_template.html' with name='Amazon' only %}
				{% include 'de_kensaku/image_button_template.html' with name='ヨドバシ.com' only %}
				{% include 'de_kensaku/image_button_template.html' with name='Yahoo!ショッピング' only %}
				{% include 'de_kensaku/image_button_template.html' with name='楽天市場' only %}
				{% include 'de_kensaku/image_button_template.html' with name='楽天西友ネットスーパー' only %}
				{% include 'de_kensaku/image_button_template.html' with name='LOHACO' only %}
				{% include 'de_kensaku/image_button_template.html' with name='ビックカメラ.com' only %}
				{% include 'de_kensaku/image_button_template.html' with name='アイリスプラザ' only %}
				{% include 'de_kensaku/image_button_template.html' with name='サンコーレアモノショップ' only %}
			</div>

			{% include 'help_modal/help_modal_template.html' with header='<span style="font-size:1.1rem;">オークション・フリマ</span>' modal_id='auction_fleamarket' modal_title='サンプルテキスト' include_body=False modal_body='<p>サンプルテキスト</p><p>サンプルテキスト</p><p>サンプルテキスト</p><p>サンプルテキスト</p><p>サンプルテキスト</p><p>サンプルテキスト</p><p>サンプルテキスト</p><p>サンプルテキスト</p><p>サンプルテキスト</p><p>サンプルテキスト</p><p>サンプルテキスト</p><p>サンプルテキスト</p><p>サンプルテキスト</p><p>サンプルテキスト</p><p>サンプルテキスト</p><p>サンプルテキスト</p>' only %}
			<div class="form-row">
				{% include 'de_kensaku/image_button_template.html' with name='ヤフオク!' only %}
				{% include 'de_kensaku/image_button_template.html' with name='ラクマ' only %}
				{% include 'de_kensaku/image_button_template.html' with name='メルカリ' only %}
			</div>

			{% include 'help_modal/help_modal_template.html' with header='<span style="font-size:1.1rem;">動画サービス</span>' modal_id='video' modal_title='サンプルテキスト' include_body=False modal_body='<p>サンプルテキスト</p><p>サンプルテキスト</p><p>サンプルテキスト</p>' only %}
			<div class="form-row">
				{% include 'de_kensaku/image_button_template.html' with name='YouTube' only %}
				{% include 'de_kensaku/image_button_template.html' with name='ニコニコ動画' only %}
				{% include 'de_kensaku/image_button_template.html' with name='FC2動画' only %}
				{% include 'de_kensaku/image_button_template.html' with name='dailymotion' only %}
			</div>

			{% include 'help_modal/help_modal_template.html' with header='<span style="font-size:1.1rem;">チャットで問い合わせ</span>' modal_id='chat' modal_title='サンプルテキスト' include_body=False modal_body='<p>サンプルテキスト</p><p>サンプルテキスト</p><p>サンプルテキスト</p>' only %}
			<div class="form-row">
				{% include 'de_kensaku/image_button_template.html' with name='AmazonChat' only %}
			</div>

			{% include 'help_modal/help_modal_template.html' with header='<span style="font-size:1.1rem;">その他</span>' modal_id='other' modal_title='サンプルテキスト' include_body=False modal_body='<p>サンプルテキスト</p><p>サンプルテキスト</p><p>サンプルテキスト</p>' only %}
			<div class="form-row">
				{% include 'de_kensaku/image_button_template.html' with name='Yahoo!知恵袋' only %}
				{% include 'de_kensaku/image_button_template.html' with name='note' only %}
				{% include 'de_kensaku/image_button_template.html' with name='Twitter' only %}
				{% include 'de_kensaku/image_button_template.html' with name='Facebook' only %}
				{% include 'de_kensaku/image_button_template.html' with name='GooglePlay' only %}
			</div>

		</form>
	</body>

	<script type="text/javascript" src="{% static 'js/input.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/help_modal.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/search_modal.js' %}"></script>



</html>
{% endblock %}