<!-

-->

{% extends "base.html" %}
{% block content %}
{% load static %}
<link href="{% static 'css/input.css' %}" rel="stylesheet">

<html>

<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-155316780-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'UA-155316780-1');
	</script>

	<!-- サジェスト表示のために追加した ここから  -->
	<!-- StyleSheet CDN -->
	<!-- これは多分サジェストの部分を装飾している -->
	<link href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" />
	<!-- JavaScript CDN -->
	<!-- これはajaxとかJavaScriptの部分 -->
	<script src="//code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="//code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
	<!-- サジェスト表示のために追加した ここまで -->
	<!--
	これ無くせば表示おかしくならなかった
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	-->
</head>

	<body>
		<form method="post" action="output" target="_blank">
			<div class="form-group">
				<div class="row">
					<div class="col-12 col-sm-10 col-md-8 col-lg-7">
						<div class="search_container">
							{% csrf_token %}
							<input type="text" id="target" value="" autofocus placeholder=" EnterでGoogle検索" name="srch_str">
							<!--
							<input type="reset" value="&#xf057" class="far">
							-->
						</div>
					</div>
				</div>
			</div>
			<button type="button" id="js-paste">ペースト</button>
			<input type="reset" value="クリア" onclick="clfc()">
			<!--
			<input type="reset" name="rstpst" value="クリアしてペースト">
			-->

			<p><strong>サーチエンジン</strong>
				<div class="form-row align-items-top">

					<div class="col-auto">
						<div class="text-posi">
							<div class="dropshadow">
								<input type="image" name="Google" src="{% static 'img/Google.png' %}" width="90"><br>
							</div>
							<p>Google</p>
						</div>
					</div>

					<div class="col-auto">
						<div class="text-posi">
							<div class="dropshadow">
								<input type="image" name="Yahoo!JAPAN" src="{% static 'img/Yahoo!JAPAN.png' %}" width="90"><br>
							</div>
							<p>Yahoo!JAPAN</p>
						</div>
					</div>

					<div class="col-auto">
						<div class="text-posi">
							<div class="dropshadow">
								<input type="image" name="Bing" src="{% static 'img/Bing.png' %}" width="90"><br>
							</div>
							<p>Bing</p>
						</div>
					</div>

					<div class="col-auto">
						<div class="text-posi">
							<div class="dropshadow">
								<input type="image" name="URLを直接開く" src="{% static 'img/URLを直接開く.png' %}" width="90"><br>
							</div>
							<p>URLを直接開く</p>
						</div>
					</div>

				</div>
			</p>


			<p><strong>ショッピング</strong>
				<p>検索文字空欄でカートページを開きます(要ログイン)</p>
				<div class="form-row align-items-top">

					<div class="col-auto">
						<div class="text-posi">
							<div class="dropshadow">
								<input type="image" name="Amazon" src="{% static 'img/Amazon.png' %}" width="90"><br>
							</div>
							<p>Amazon</p>
						</div>
					</div>

					<div class="col-auto">
						<div class="text-posi">
							<div class="dropshadow">
								<input type="image" name="ヨドバシ.com" src="{% static 'img/ヨドバシ.com.png' %}" width="90"><br>
							</div>
							<p>ヨドバシ.com</p>
						</div>
					</div>

					<div class="col-auto">
						<div class="text-posi">
							<div class="dropshadow">
								<input type="image" name="Yahoo!ショッピング" src="{% static 'img/Yahoo!ショッピング.png' %}" width="90"><br>
							</div>
							<p>Yahoo!<br>ショッピング</p>
						</div>
					</div>

					<div class="col-auto">
						<div class="text-posi">
							<div class="dropshadow">
								<input type="image" name="楽天市場" src="{% static 'img/楽天市場.png' %}" width="90"><br>
							</div>
							<p>楽天市場</p>
						</div>
					</div>

					<div class="col-auto">
						<div class="text-posi">
							<div class="dropshadow">
								<div class="img-posi">
								<input type="image" name="LOHACO" src="{% static 'img/LOHACO.png' %}" width="90"><br>
								</div>
							</div>
							<p>LOHACO</p>
						</div>
					</div>

					<div class="col-auto">
						<div class="text-posi">
							<div class="dropshadow">
								<input type="image" name="楽天西友ネットスーパー" src="{% static 'img/楽天西友ネットスーパー.png' %}" width="90"><br>
							</div>
							<p>楽天西友<br>ネットスーパー</p>
						</div>
					</div>

					<div class="col-auto">
						<div class="text-posi">
							<div class="dropshadow">
								<input type="image" name="ビックカメラ.com" src="{% static 'img/ビックカメラ.com.png' %}" width="90"><br>
							</div>
							<p>ビックカメラ.com</p>
						</div>
					</div>

					<div class="col-auto">
						<div class="text-posi">
							<div class="dropshadow">
								<input type="image" name="アイリスプラザ" src="{% static 'img/アイリスプラザ.png' %}" width="90"><br>
							</div>
							<p>アイリスプラザ</p>
						</div>
					</div>

					<div class="col-auto">
						<div class="text-posi">
							<div class="dropshadow">
								<input type="image" name="サンコーレアモノショップ" src="{% static 'img/サンコーレアモノショップ.png' %}" width="90"><br>
							</div>
							<p>サンコー<br>レアモノショップ</p>
						</div>
					</div>

				</div>
			</p>


			<p><strong>オークション・フリマ</strong>
				<p>検索文字空欄でトップページを開きます</p>
				<div class="form-row align-items-top">

					<div class="col-auto">
						<div class="text-posi">
							<div class="dropshadow">
								<input type="image" name="ヤフオク!" src="{% static 'img/ヤフオク!.png' %}" width="90"><br>
							</div>
							<p>ヤフオク!</p>
						</div>
					</div>

					<div class="col-auto">
						<div class="text-posi">
							<div class="dropshadow">
								<input type="image" name="ラクマ" src="{% static 'img/ラクマ.png' %}" width="90"><br>
							</div>
							<p>ラクマ</p>
						</div>
					</div>

					<div class="col-auto">
						<div class="text-posi">
							<div class="dropshadow">
								<input type="image" name="メルカリ" src="{% static 'img/メルカリ.png' %}" width="90"><br>
							</div>
							<p>メルカリ</p>
						</div>
					</div>

				</div>
			</p>


			<p><strong>動画サービス</strong>
				<p>検索文字空欄でトップページを開きます</p>
				<div class="form-row align-items-top">

					<div class="col-auto">
						<div class="text-posi">
							<div class="dropshadow">
								<input type="image" name="YouTube" src="{% static 'img/YouTube.png' %}" width="90"><br>
							</div>
							<p>YouTube</p>
						</div>
					</div>

					<div class="col-auto">
						<div class="text-posi">
							<div class="dropshadow">
								<input type="image" name="ニコニコ動画" src="{% static 'img/ニコニコ動画.png' %}" width="90"><br>
							</div>
							<p>ニコニコ動画</p>
						</div>
					</div>

					<div class="col-auto">
						<div class="text-posi">
							<div class="dropshadow">
								<input type="image" name="FC2動画" src="{% static 'img/FC2動画.png' %}" width="90"><br>
							</div>
							<p>FC2動画</p>
						</div>
					</div>

					<div class="col-auto">
						<div class="text-posi">
							<div class="dropshadow">
								<input type="image" name="dailymotion" src="{% static 'img/dailymotion.png' %}" width="90"><br>
							</div>
							<p>dailymotion</p>
						</div>
					</div>

				</div>
			</p>


			<p><strong>その他</strong>
				<p>検索文字空欄でトップページを開きます</p>
				<div class="form-row align-items-top">

					<div class="col-auto">
						<div class="text-posi">
							<div class="dropshadow">
								<input type="image" name="Yahoo!知恵袋" src="{% static 'img/Yahoo!知恵袋.png' %}" width="90"><br>
							</div>
							<p>Yahoo!知恵袋</p>
						</div>
					</div>

					<div class="col-auto">
						<div class="text-posi">
							<div class="dropshadow">
								<input type="image" name="note" src="{% static 'img/note.png' %}" width="90"><br>
							</div>
							<p>note</p>
						</div>
					</div>

					<div class="col-auto">
						<div class="text-posi">
							<div class="dropshadow">
								<input type="image" name="Twitter" src="{% static 'img/Twitter.png' %}" width="90"><br>
							</div>
							<p>Twitter</p>
						</div>
					</div>

					<div class="col-auto">
						<div class="text-posi">
							<div class="dropshadow">
								<input type="image" name="Facebook" src="{% static 'img/Facebook.png' %}" width="90"><br>
							</div>
							<p>Facebook</p>
						</div>
					</div>

					<div class="col-auto">
						<div class="text-posi">
							<div class="dropshadow">
								<input type="image" name="GooglePlay" src="{% static 'img/GooglePlay.png' %}" width="90"><br>
							</div>
							<p>GooglePlay</p>
						</div>
					</div>

				</div>
			</p>
		</form>

		<script type="text/javascript">
			$(function() {
					$('#target').autocomplete({
							source: function(request, response) {
									$.ajax({
											url: "https://www.google.com/complete/search",
											data: {hl:'ja', client:'firefox', q: request.term},
											dataType: "jsonp",
											type: "GET",
											success :function(data) {
													response(data[1]);
											}
									});
							},
							autoFocus: false,
							delay: 200,
							minLength: 1,
					});
			});
	</script>

	</body>
</html>
{% endblock %}