{% extends "base/base.html" %}
{% block content %}
{% load static %}
<html>
<head>
	<style type="text/css">
		.textarea-width100 {
			width: 100%;
		}
	</style>
	<script type="text/javascript" language="javascript">
		function onButtonClick() {
			const ky = {name:		'Kyash',
									title:	'Kyash',
									desc:		document.forms.id_form1.Kyash_desc.value}
			const pr = {name:		'pring',
									title:	'pring',
									desc:		document.forms.id_form1.pring_desc.value}
			const aw = {name:		'Amazon_wish',
									title:	'Amazonほしい物リスト',
									desc:		document.forms.id_form1.Amazon_wish_desc.value}
			const ag = {name:		'Amazon_gift',
									title:	'Amazonギフト券',
									desc:		document.forms.id_form1.Amazon_gift_desc.value}
			document.getElementById("copyTarget").innerHTML = tag`${ ky }` +"\n"+ tag`${ pr }` +"\n"+ tag`${ aw }` +"\n"+ tag`${ ag }`;
		}
		function tag(strings,way){
			return  html = `<!-- モーダルに紐づくボタン ${ way.title } -->
<button type="button" class="btn btn-lightblue600_rsd" data-toggle="modal" data-target="#${ way.name }" title="${ way.title }">
	<span class="icon-text-color">
		<span class="d-flex align-items-center">
			<span class="kihuicon-${ way.name } fb-2x"></span>
		</span>
	</span>
</button>
<!-- モーダル本体 ${ way.title } -->
<div class="modal fade" id="${ way.name }" tabindex="-1" role="dialog" aria-labelledby="${ way.name }_label1" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="${ way.name }_label2">${ way.title }で支援する</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">
				${ way.desc }
			</div>
		</div>
	</div>
</div>`;
		}
		function copyToClipboard() {
			// コピー対象をJavaScript上で変数として定義する
			var copyTarget = document.getElementById("copyTarget");
			// コピー対象のテキストを選択する
			copyTarget.select();
			// 選択しているテキストをクリップボードにコピーする
			document.execCommand("Copy");
			// コピーをお知らせする
			alert("コピーできました！ : " + copyTarget.value);
		}
		// ------------------------------
	</script>
</head>
<body>
	<form name="form1" id="id_form1" action="">
		<p>「Amazon欲しい物リスト」の説明<br>
			<textarea id="Amazon_wish_desc">ccc</textarea>
		</p>
		<p>「kyash」の説明<br>
			<textarea id="Kyash_desc">xxx</textarea>
		</p>
		<p>「pring」の説明<br>
			<textarea id="pring_desc">bbb</textarea>
		</p>
		<p>「Amazonギフト券」の説明<br>
			<textarea id="Amazon_gift_desc">ddd</textarea>
		</p>
		<input type="button" value="生成" onclick="onButtonClick();" />
	</form>
	<p>このHTMLをブログに張り付けてください。<br>
		<textarea name="kanso" class="textarea-width100" rows="10" cols="40" id="copyTarget"></textarea><br>
		<button onclick="copyToClipboard()">コピーする</button>
	</p>




<!-- モーダルに紐づくボタン Kyash -->
<button type="button" class="btn btn-lightblue600_rsd" data-toggle="modal" data-target="#Kyash" title="Kyash">
	<span class="icon-text-color">
		<span class="d-flex align-items-center">
			<span class="kihuicon-Kyash fb-2x"></span>
		</span>
	</span>
</button>
<!-- モーダル本体 Kyash -->
<div class="modal fade" id="Kyash" tabindex="-1" role="dialog" aria-labelledby="Kyash_label1" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="Kyash_label2">Kyashで支援する</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">
				xxx
			</div>
		</div>
	</div>
</div>
<!-- モーダルに紐づくボタン pring -->
<button type="button" class="btn btn-lightblue600_rsd" data-toggle="modal" data-target="#pring" title="pring">
	<span class="icon-text-color">
		<span class="d-flex align-items-center">
			<span class="kihuicon-pring fb-2x"></span>
		</span>
	</span>
</button>
<!-- モーダル本体 pring -->
<div class="modal fade" id="pring" tabindex="-1" role="dialog" aria-labelledby="pring_label1" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="pring_label2">pringで支援する</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">
				bbb
			</div>
		</div>
	</div>
</div>
<!-- モーダルに紐づくボタン Amazonほしい物リスト -->
<button type="button" class="btn btn-lightblue600_rsd" data-toggle="modal" data-target="#Amazon_wish" title="Amazonほしい物リスト">
	<span class="icon-text-color">
		<span class="d-flex align-items-center">
			<span class="kihuicon-Amazon_wish fb-2x"></span>
		</span>
	</span>
</button>
<!-- モーダル本体 Amazonほしい物リスト -->
<div class="modal fade" id="Amazon_wish" tabindex="-1" role="dialog" aria-labelledby="Amazon_wish_label1" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="Amazon_wish_label2">Amazonほしい物リストで支援する</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">
				ccc
			</div>
		</div>
	</div>
</div>
<!-- モーダルに紐づくボタン Amazonギフト券 -->
<button type="button" class="btn btn-lightblue600_rsd" data-toggle="modal" data-target="#Amazon_gift" title="Amazonギフト券">
	<span class="icon-text-color">
		<span class="d-flex align-items-center">
			<span class="kihuicon-Amazon_gift fb-2x"></span>
		</span>
	</span>
</button>
<!-- モーダル本体 Amazonギフト券 -->
<div class="modal fade" id="Amazon_gift" tabindex="-1" role="dialog" aria-labelledby="Amazon_gift_label1" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="Amazon_gift_label2">Amazonギフト券で支援する</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">
				ddd
			</div>
		</div>
	</div>
</div>









</body>
</html>
{% endblock %}